{% extends 'base.html'%}
{%block scripts%}


{%endblock scripts%}

{%block content%}
<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->
<!-- <canvas id="myChart" width="400" height="100"></canvas> -->
<div id="chart">
</div>

<script>
    {% if ctype == "bar" and axis_b != None %}
        var options = {
            series:{{cdata.data | safe}},
            chart: {
            type: 'bar',
            height: 750,
            width:1000,
            stacked: true,
            toolbar: {
                show: true
            },
            zoom: {
                enabled: true
            }
            },
            responsive: [{
            breakpoint: 480,
            options: {
                legend: {
                position: 'bottom',
                offsetX: -10,
                offsetY: 0
                }
            }
            }],
            plotOptions: {
            bar: {
                horizontal: false,
                borderRadius: 10
            },
            },
            xaxis: {
            type: 'str',
            categories: {{cdata.label | safe}}
            },
            legend: {
            position: 'right',
            offsetY: 40
            },
            fill: {
            opacity: 1
            }
            };
    {% elif ctype == "bar" %}
    var options = {
        plotOptions: {
            bar: {
                distributed: true
            }
        },
        
        chart: {
            type: 'bar'
        },
        series: [{
            name: '',
            data: {{cdata.data | safe}}
        }],
        xaxis: {
            categories: {{cdata.labels | safe}}
        },
    }
    {% elif ctype == "line" %}
    var options = {
          series: [{
            name: "Desktops",
            data: {{cdata.data | safe}}
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Product Trends by Month',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: {{cdata.labels | safe}}
        }
        };
    {% elif ctype == "pie" %}
        var options = {
            series: {{cdata.data | safe}},
            chart: {
            type: 'pie',
            },
            colors: {{ cdata.colors | safe}},
            labels: {{cdata.labels | safe}},
            responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                width: 200
                },
                legend: {
                position: 'bottom'
                }
            }
            }]
            };
    
    {% endif %}

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
</script>
{%endblock content%}